
.form-box {
    position: relative;
}

.login-left {
    height: 100vh;
    background-color: #FFF;
}

.login-right{
    background-image: url('../images/bg_business-work.jpg');  //archt.jpg
    background-size: cover;
    height: auto;
    //background-color: #3399FF;
}

.firebaseui-idp-google { 
    background-color: #F8F8F8 !important;
}



 // background-color: #4885ed !important; Google Blue
